#play-return {
  position: relative;
  height: 100vh;

  background-image: linear-gradient(
    to right bottom,
    rgba(grey, 0.8),
    rgba(pink, 0.8)),
  url(https://i.imgur.com/CZSfvRz.png);
  background-size: cover;
  background-position: bottom;
  position: relative;
}


.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden;

  &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}