.puzzle {
  width: 40rem;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    background-image:  radial-gradient(ellipse at top, #95999a, transparent),
    radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    border: 2px solid green;
    border-radius: 3px;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    height: 105%;
    width: 105%;
    // border-radius: 50% 20% / 10% 40%;
    z-index: -1;

  }

  &__row {
    font-size: 2rem;
    flex: 0 0 100%;
    background-color: transparent;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.8rem;
    }

    // Borders
    &:first-of-type {
      border-top: 3px solid $color-puzzle-edge;
    }

    &:last-of-type {
      border-bottom: 3px solid $color-puzzle-edge;
    }

    &:nth-child(3) {
      border-bottom: 2px solid $color-puzzle-edge;
    }

    &:nth-child(6) {
      border-bottom: 2px solid $color-puzzle-edge;
    }
  }

  &__number-box {
    font-family: $font-header;
    box-sizing: border-box;
    padding: 1rem;
    // flex: 0 0 10%;
    flex: 0 0 calc(100% /9);
    height: calc(100% /9);
    background-color: $color-puzzle-default;
    border: 1px solid $color-puzzle-edge;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $color-puzzle-highlight;
    }

    &:nth-child(3) {
      border-right: 3px solid $color-puzzle-edge;
    }

    &:nth-child(6) {
      border-right: 3px solid $color-puzzle-edge;
    }

    &:first-of-type {
      border-left: 3px solid $color-puzzle-edge;
    }

    &:last-of-type {
      border-right: 3px solid $color-puzzle-edge;
    }
  }
}