.puzzle {
  width: 90rem;

  @media only screen and (max-width: $bp-medium) {
    width: 45rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 40rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    width: 30rem;
  }

  &__row {
    font-size: 3.5rem;
    flex: 0 0 100%;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.8rem;
    }

    // Borders
    &:first-of-type {
      border-top: 5px solid $color-puzzle-edge;
    }

    &:last-of-type {
      border-bottom: 5px solid $color-puzzle-edge;
    }

    &:nth-child(3) {
      border-bottom: 5px solid $color-puzzle-edge;
    }

    &:nth-child(6) {
      border-bottom: 5px solid $color-puzzle-edge;
    }
  }

  &__number-box {
    box-sizing: border-box;
    padding: 2.5rem;
    // flex: 0 0 10%;
    width: 11.11111rem;
    height: 9.5rem;
    background-color: $color-puzzle-default;
    border: .5px solid $color-puzzle-edge;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
      // width: 7rem;
      height: 5rem;
      padding: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      // width: 7rem;
      height: 5rem;
      padding: 1.3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      // width: 10rem;
      height: 5rem;
      padding: 1.8rem;
    }

    &:nth-child(3) {
      border-right: 5px solid $color-puzzle-edge;
    }

    &:nth-child(6) {
      border-right: 5px solid $color-puzzle-edge;
    }

    &:first-of-type {
      border-left: 5px solid $color-puzzle-edge;
    }

    &:last-of-type {
      border-right: 5px solid $color-puzzle-edge;
    }
  }
}