.home {
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(pink, .8),
    rgba(yellowgreen, .8)),
    url("https://i.imgur.com/efHBmNO.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 3px;
  overflow: hidden;


  &__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px;

    & h1 {
      animation: fadeIn 5s ease-out;
      animation-fill-mode: backwards;
    }

    & a {
      animation: fadeIn 2s ease-out;
      animation-fill-mode: backwards;
      animation-delay: .8s;
    }
  }
}