#play-return {
  width: 100%;
  height: 100vh;


  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba(grey, 0.8),
  //   rgba(pink, 0.8)),
  // url(https://i.imgur.com/CZSfvRz.png);
  // background-size: cover;
  // background-position: bottom;
  position: relative;
}


.video-bg__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: -4.5rem;
  opacity: .7;
};





.play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  //Remove Select Highlight
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  position: absolute;
  top: 10%;;
  left: 0;
  width: 100%;
  height: 100%;




  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }
  
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__number-box {
    display: flex;
    min-width: 30rem;
    // gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  &__number {
    font-family: $font-header;
    border: 1.5px solid $color-puzzle-edge;
    background-color: $color-puzzle-default;
    color: $color-puzzle-edge;
    // border-radius: 3px;
    flex: 0 0 calc(100% / 3);
    height: 7rem;
    font-size: 2.75rem;
    cursor: pointer;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    transition: all .2s;

    // BORDER


    &:hover {
      background-color: $color-puzzle-highlight;
      // box-shadow: none;
    }

    &:active {
      font-size: 2.5rem;
      box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    }

    &--X {
      flex: 1;
    }

  }
}