#play-return {
  position: relative;
  height: 100vh;

  background-image: linear-gradient(
    to right bottom,
    rgba(grey, 0.8),
    rgba(pink, 0.8)),
  url(https://i.imgur.com/CZSfvRz.png);
  background-size: cover;
  background-position: bottom;
  position: relative;
}