@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  html::-webkit-scrollbar {
    display: none; }

body {
  background-color: #1e1e1e;
  background-color: #fff;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.heading-primary {
  font-size: 10rem;
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  letter-spacing: .5rem;
  color: #fff;
  display: inline-block;
  cursor: default; }
  .heading-primary a {
    color: #fff;
    text-decoration: none; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 10rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-primary {
      font-size: 10rem; } }
  .heading-primary--home {
    font-size: 18rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--home {
        font-size: 15rem; } }
    @media only screen and (max-width: 31.25em) {
      .heading-primary--home {
        font-size: 10rem; } }

.btn {
  color: red; }
  .btn--home, .btn--home:visited {
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-decoration: none;
    font-family: "Comfortaa", cursive;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 10rem;
    text-align: center;
    color: white;
    width: 25rem;
    height: 10rem;
    background-color: transparent;
    border: none;
    overflow: hidden;
    cursor: pointer;
    position: relative; }
    @media only screen and (max-width: 31.25em) {
      .btn--home, .btn--home:visited {
        font-size: 3.5rem;
        width: 25rem;
        height: 9rem; } }
  .btn--home:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: .4rem;
    background-color: white;
    transition: all 0.5s; }
  .btn--home:hover:before {
    left: 0; }
  .btn--home:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: .4rem;
    background-color: white;
    transition: all 0.5s; }
  .btn--home:hover:after {
    right: 0; }
  .btn--home span:before {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: .4rem;
    height: 100%;
    background-color: white;
    transition: all 0.5s; }
  .btn--home:hover span:before {
    top: 0; }
  .btn--home span:after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: .4rem;
    height: 100%;
    background-color: white;
    transition: all 0.5s; }
  .btn--home:hover span:after {
    bottom: 0; }

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center; }
  .flex-box__item {
    width: 30rem; }

.radio {
  font-family: "Comfortaa", cursive;
  text-transform: lowercase; }
  .radio__input {
    visibility: hidden;
    height: 0;
    width: 0; }
  .radio__label {
    font-size: 2rem;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
    background-color: #e9cea9;
    color: #75501e;
    padding: 1rem 2rem;
    width: 15rem;
    transition: all .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1.5px solid #75501e; }
    .radio__label--left {
      border-radius: 1.5px 0 0 1.5px; }
    .radio__label--right {
      border-radius: 0 1.5px 1.5px 0; }
    .radio__label--left:before {
      position: absolute;
      content: "";
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #75501e;
      transition: all .3s ease-in-out;
      z-index: -1; }
    .radio__label--right:before {
      position: absolute;
      content: "";
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #75501e;
      transition: all .3s ease-in-out;
      z-index: -1; }
  .radio__input:checked + .radio__label {
    color: white; }
  .radio__input:checked + .radio__label--left:before {
    right: 0; }
  .radio__input:checked + .radio__label--right:before {
    left: 0; }

.puzzle {
  width: 40rem;
  position: relative;
  z-index: 1; }
  .puzzle:before {
    content: "";
    background-image: radial-gradient(ellipse at top, #95999a, transparent), radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    border: 2px solid green;
    border-radius: 3px;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    height: 105%;
    width: 105%;
    z-index: -1; }
  .puzzle__row {
    font-size: 2rem;
    flex: 0 0 100%;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0; }
    @media only screen and (max-width: 31.25em) {
      .puzzle__row {
        font-size: 1.8rem; } }
    .puzzle__row:first-of-type {
      border-top: 3px solid #75501e; }
    .puzzle__row:last-of-type {
      border-bottom: 3px solid #75501e; }
    .puzzle__row:nth-child(3) {
      border-bottom: 2px solid #75501e; }
    .puzzle__row:nth-child(6) {
      border-bottom: 2px solid #75501e; }
  .puzzle__number-box {
    font-family: "Comfortaa", cursive;
    box-sizing: border-box;
    padding: 1rem;
    flex: 0 0 calc(100% /9);
    height: calc(100% /9);
    background-color: #e9cea9;
    border: 1px solid #75501e;
    text-align: center;
    cursor: pointer; }
    .puzzle__number-box:hover {
      background-color: #dfb780; }
    .puzzle__number-box:nth-child(3) {
      border-right: 3px solid #75501e; }
    .puzzle__number-box:nth-child(6) {
      border-right: 3px solid #75501e; }
    .puzzle__number-box:first-of-type {
      border-left: 3px solid #75501e; }
    .puzzle__number-box:last-of-type {
      border-right: 3px solid #75501e; }

.footer {
  height: 35vh;
  background-image: linear-gradient(to right bottom, rgba(255, 192, 203, 0.8), rgba(154, 205, 50, 0.8)), url("https://i.imgur.com/efHBmNO.png");
  padding: 5rem;
  color: white; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white; }
    .footer__logo-box--ian {
      font-family: "Share Tech Mono", monospace;
      display: block; }
    .footer__logo-box--drew {
      font-family: "Berkshire Swash", cursive; }
  .footer__navigation {
    border-top: 1px solid white;
    padding-top: 1rem;
    display: block;
    width: 100%; }
  .footer__link:link, .footer__link:visited {
    font-family: "Comfortaa", cursive;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1); }
  .footer__copyright {
    border-top: 1px solid white;
    padding-top: 1rem;
    text-align: justify;
    width: 60rem; }

.header {
  height: 20vh;
  background-image: linear-gradient(to right bottom, rgba(255, 192, 203, 0.8), rgba(154, 205, 50, 0.8)), url("https://i.imgur.com/efHBmNO.png");
  background-size: cover;
  background-position: 0 0;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */ }
  .header__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px; }
  @media only screen and (max-width: 31.25em) {
    .header {
      display: none; } }

.home {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 192, 203, 0.8), rgba(154, 205, 50, 0.8)), url("https://i.imgur.com/efHBmNO.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */ }
  @media only screen and (max-width: 31.25em) {
    .home {
      height: 100svh; } }
  .home__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px; }
    .home__textbox h1 {
      animation: fadeIn 5s ease-out;
      animation-fill-mode: backwards; }
    .home__textbox a {
      animation: fadeIn 2s ease-out;
      animation-fill-mode: backwards;
      animation-delay: .8s; }

#play-return {
  width: 100%;
  height: 100vh;
  position: relative; }

.video-bg__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: -4.5rem;
  opacity: .7; }

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 31.25em) {
    .play {
      flex-direction: column; } }
  .play__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .play__number-box {
    display: flex;
    min-width: 30rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem; }
  .play__number {
    font-family: "Comfortaa", cursive;
    border: 1.5px solid #75501e;
    background-color: #e9cea9;
    color: #75501e;
    flex: 0 0 calc(100% / 3);
    height: 7rem;
    font-size: 2.75rem;
    cursor: pointer;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    transition: all .2s; }
    .play__number:hover {
      background-color: #dfb780; }
    .play__number:active {
      font-size: 2.5rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
    .play__number--X {
      flex: 1; }
