* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  background-color: green; }

.puzzle {
  justify-content: center; }
  .puzzle__row {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #e9cea9; }
  .puzzle__number-box {
    display: flex;
    padding: 2rem;
    background-color: #fff;
    border: 2px solid #000;
    margin: .3rem .6rem; }
