.header {
  height: 20vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(pink, .8),
    rgba(yellowgreen, .8)),
    url("https://i.imgur.com/efHBmNO.png");
  background-size: cover;
  background-position: 0 0;
  position: relative;
  // border-radius: 3px;
  overflow: hidden;
  
    // //Remove Select Highlight
    // -webkit-user-select: none; /* Safari */
    // -ms-user-select: none; /* IE 10 and IE 11 */
    // user-select: none; /* Standard syntax */


  &__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px;
    cursor: pointer;

    & a {
      cursor: pointer;
    }
  }

  @media only screen and (max-width: $bp-smallest) {
    display: none;
  }
}