* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
  background-color: #1e1e1e;

  padding: 4rem;

  @media only screen and (max-width: $bp-large) {
    padding: 0;
}
}