// Responsive Breakpoints
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

// Colors
$color-puzzle-default: rgb(233, 206, 169);
$color-puzzle-edge: darken(rgb(233, 206, 169), 50);

$color-white: #fff;
$color-black: #000;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$font-header:  'Comfortaa', cursive;